.logounip{

	padding-top: 30px;
	width: 350px;
	height: 100px;

}

.cc{

	padding-top: 30px;
	width: 460px;
	height: 120px;

}

.iconew, .iconemail, .iconelocal{

	width: 20px;
	height: 20px;
	float: left;
	padding: 0 10px 0 41%;

}